.intro {
	position: relative;
	display: flex;
	height: 50vh;

	.square1 {
		position: relative;
		display: flex;
		flex-basis: calc(100% / 2);
		padding: var(--dis);
	}
	.square2 {
		flex-basis: calc(100% / 2);
		padding: var(--dis);
	}
}

.someText {
	position: relative;
	display: flex;
	width: 100%;

	.left {
		flex-basis: calc(100% / 2);
	}
	.right {
		flex-basis: calc(100% / 2);

		padding: var(--dis);
	}
}

.section1 {
	z-index: 1;
	border-bottom: none;
}

.section2 {
	--padding: 50px;

	position: relative;
	display: block;
	width: 100%;
	border-top: var(--stroke) solid var(--strokeColor);
	z-index: 10;

	.first {
		.container {
			border-top: none !important;
			border-bottom: none !important;
		}
	}

	.panel {
		position: relative;
		display: flex;
		width: 100%;
		height: 76vh;
		background-color: var(--fillColor);
		z-index: 10;
		margin: 0;
		padding: 0;

		.container {
			flex-basis: calc(100% / 2);
			border-top: var(--stroke) solid var(--strokeColor);
			border-bottom: none;
		}

		.leftSide {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			text-align: left;
			padding: var(--padding) var(--padding);
			justify-content: space-between;

			p {
				margin: 0px;
			}
			.script {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: var(--padding);

				.body-ts {
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 2; /* number of lines to show */
					line-clamp: 2; 
					-webkit-box-orient: vertical;
				}
			}
		}

		.rightSide {

			a {
				display: block;
				width: 100%;
				height: 100%;
				color: var(--text);

				.thumbnailContainer {
					position: relative;
					display: flex;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: center;
					overflow: hidden;

					.text-thumb {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						width: 100%;
						height: 200%;
						overflow: hidden;
						display: flex;
						flex-direction: column;
						gap: 20px;

						.horizontal-content {
							position: relative;
							display: flex;
							justify-content: center;
							gap: 20px;

							p {
								font-size: 68px;
								line-height: 1;
								margin: 0;
								text-transform: uppercase;
							}
						}
						.horizontal-content:nth-child(2n-1) {
							translate: -5% 0;
						}
					}

					.thumbnail {
						position: relative;
						height: 80%;
						aspect-ratio: 1;
						border-radius: 10000px;
						overflow: hidden;
						z-index: 2;
						border: var(--stroke) solid var(--strokeColor);

						img, video {
							position: absolute;
							height: 100%;
							top: 50%;
							left: 50%;
							translate: -50% -50%;
						}
					}
				}
			}
		}
	}
}

.section3 {
	z-index: 10;
	border-top: var(--stroke) solid var(--strokeColor);
}