.s1s2-wrapper {
	position: relative;
	display: block;
	width: 100%;
}
.section1 {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;

	.naviHeight {
		position: relative;
		display: block;
		width: 100%;
		// background-color: royalblue;
	}

	.container {
		position: relative;
		display: flex;
		width: 100%;

		.square1 {
			display: flex;
			padding: var(--dis);
			flex-basis: calc(100% / 2);

			p {
				margin: 0;
				white-space: nowrap;
			}
		}

		.square2 {
			position: relative;
			display: flex;
			flex-direction: column;
			flex-basis: calc(100% / 2);
			height: 100%;
			overflow: hidden;

			.marquee-format {
				width: 100%;
				z-index: 2;
			}
			.top {
				border-bottom: var(--stroke) solid var(--strokeColor);
			}
			.bottom {
				border-top: var(--stroke) solid var(--strokeColor);
			}

			.thumbnail {
				position: relative;
				display: block;
				width: 100%;
				overflow: hidden;

				img, video {
					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
				}
			}
		}
	}
}

.section3 {
	position: relative;
	display: flex;
	width: 100%;
	height: 80vh;

	.left {
		position: relative;
		flex-basis: calc(100% / 2);
		overflow: hidden;

		.smile {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 20%;
			max-width: 300px;
			z-index: 2;

			img {
				width: 100%;
			}
		}
		.targetObject {
			position: absolute;
			top: 0;
			left: 0;
			translate: -50%, -50%;
			width: 60px;
			z-index: 1;

			img {
				width: 100%;
				filter: drop-shadow(4.5px 4.5px 1px var(--text));
			}
		}

	}
	.right {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-basis: calc(100% / 2);
		justify-content: space-between;

		p {
			border-bottom: none;
		}
		p:first-child {
			border-top: none;
		}
	}
}
.section5 {
	position: relative;
	display: flex;
	width: 100%;
	height: 50vh;
	border-top: var(--stroke) solid var(--strokeColor);
	border-bottom: var(--stroke) solid var(--strokeColor);

	.left {
		position: relative;
		flex-basis: calc(100% / 2);
		border-bottom: none;
	}
	.right {
		position: relative;
		display: block;
		flex-basis: calc(100% / 2);
		border-bottom: none;
		overflow: hidden;

		p {
			border-bottom: none;
		}
		p:first-child {
			border-top: none;
		}
	}
}

.section6 {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.logo-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		svg {
			position: absolute;
			width: 10%;
			max-width: 250px;
			min-width: 150px;
			aspect-ratio: 1;

			--top1: 35%;
			--left1: 15%;
			--top2: 20%;
			--left2: 33%;
		}

		.kLogo {
			top: var(--top1);
			left: var(--left1);
			fill: var(--red) !important;
		}
		.oLogo {
			top: var(--top2);
			left: var(--left2);
			fill: var(--text);
		}
		.mLogo {
			top: var(--top2);
			left: auto;
			right: var(--left2);
			fill: var(--green) !important;
		}
		.aLogo {
			top: var(--top1);
			left: auto;
			right: var(--left1);
			fill: var(--blue) !important;
		}
	}

	.character {
		position: absolute;
		left: 50%;
		bottom: 0;
		translate: -50% 0;
		height: 80vh;

		img {
			height: 100%;
			filter: drop-shadow(-2px -2px 0px var(--text))
					drop-shadow(0px -2px 0px var(--text))
					drop-shadow(2px -2px 0px var(--text))
					drop-shadow(-2px 0px 0px var(--text))
					drop-shadow(2px 0px 0px var(--text))
					drop-shadow(-2px 2px 0px var(--text))
					drop-shadow(0px 2px 0px var(--text))
					drop-shadow(2px 2px 0px var(--text));

		}
	}
}

footer {
	border-top: var(--stroke) solid var(--strokeColor);
}

// .expertField {
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;
// 	width: 100%;
// 	overflow: hidden;
// 	cursor: initial;

// 	p {
// 		font-weight: 700;
// 		font-size: 	14vw;
// 		line-height: 1.1;
// 		margin: 0px;
// 	}

// 	.container {
// 		--gap: 56px;

// 		position: relative;
// 		display: flex;
// 		flex-direction: column;
// 		width: 100%;
// 		align-items: center;

// 		.headTitle {
// 			position: relative;
// 			display: block;

// 			.mainText {
// 				color: var(--black);
// 				text-transform: uppercase;
// 				transition: all .1s ease-in-out;
// 			}

// 			.effectText {
// 				position: absolute;
// 				display: flex;
// 				flex-direction: row;
// 				text-transform: uppercase;
// 				gap: var(--gap);
// 				top: 0;


// 				p {
// 					color: var(--maincolor) !important;
// 					// -webkit-text-stroke: 2px var(--maincolor);
// 					transition: all .2s ease-out;
// 				}
// 			}
// 			.leftsideText {
// 				left:  calc(var(--gap)*-1);
// 				translate: -100% 0;

// 				p {
// 					opacity: 0;
// 					transform: translateX(calc(var(--gap)*1.2));
// 				}
// 			}
// 			.rightsideText {
// 				right: calc(var(--gap)*-1);
// 				translate: 100% 0;

// 				p {
// 					opacity: 0;
// 					transform: translateX(calc(var(--gap)*-1.2));
// 				}
// 			}
// 		}

// 		.skillInside {
// 			position: relative;
// 			width: 100%;
// 			overflow: hidden;

// 			.marquee-container {
// 				position: relative;
// 				display: flex;
// 				justify-content: flex-start;
// 				width: 100%;
// 				overflow: hidden;
// 				translate: 0px -100%;
// 				transition: all .3s ease-out;

// 				.marquee-content {
// 					--size: 1.4vw;

// 					position: relative;
// 					display: flex;
// 					align-items: center;
// 					gap: var(--size);
// 					padding-left: var(--size);
// 					translate: -var(--size) 0px;

// 					p {
// 						font-size: var(--size);
// 						font-weight: 600;
// 						white-space: nowrap;
// 						// background-color: royalblue;
// 					}

// 					svg {
// 						height: calc(var(--size)/2);
// 						fill: var(--maincolor) !important;
// 					}
// 				}
// 			}
// 		}
// 	}

// 	.container.hovering {

// 		.headTitle {

// 			.mainText {
// 				color: transparent !important;
// 				-webkit-text-stroke: 2.1px var(--maincolor) !important;
// 			}
// 			.effectText {
// 				p {
// 					transition: all .4s ease-out;
// 				}
// 			}
// 			.leftsideText {
// 				left:  calc(var(--gap)*-1);
// 				translate: -100% 0;

// 				p {
// 					opacity: 1;
// 					transform: translateX(0px);
// 				}
// 			}
// 			.rightsideText {
// 				right: calc(var(--gap)*-1);
// 				translate: 100% 0;

// 				p {
// 					opacity: 1;
// 					transform: translateX(0px);
// 				}
// 			}
// 		}

// 		.skillInside {
// 			.marquee-container {
// 				translate: 0px 0%;
// 			}
// 		}
// 	}

// 	.uiExpert {
// 		--maincolor: var(--red);
// 		.headTitle {
// 			translate: 0px 0px;
// 		}
// 	}
// 	.visualExpert {
// 		--maincolor: var(--green);
// 		.headTitle {
// 			translate: -8% 0px;
// 		}
// 	}
// 	.mediaExpert {
// 		--maincolor: var(--blue);
// 		.headTitle {
// 			translate: 10% 0px;
// 		}
// 	}
// 	.contentExpert {
// 		--maincolor: var(--red);
// 		.headTitle {
// 			translate: 5% 0px;
// 		}
// 	}
// }